<section class="top-score dark">
  <div>
    <h2 class="text-center pt-3">Top Score</h2>
    <div class="row rowclass pt-4 ">
      <div class="light col-sm-6" *ngFor="let category of categorylist; let index=index">
        <main class="container py-2 ">
          <article class="postcard light blue">
            <a class="postcard__img_link">
              <img class="postcard__img" src="{{category.imgurl}}" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
              <h1 class="postcard__title blue"><a (click)="showTop(category['quizname'])">{{category['quizname']}}</a>
              </h1>
              <div class="postcard__subtitle small">

              </div>


              <ul class="postcard__tagbox">
                <li class="tag__item"><a routerLink="/AdminHome/QuizList"><em
                      class="fa fa-tag mr-2 text-success"></em>Quizes</a></li>

                <li class="tag__item play blue">
                  <a><em class="fa fa-trophy fa-1.5x text-warning" aria-hidden="true" style="color: rgb(0, 0, 0);"></em>
                    Top Score</a>
                </li>
              </ul>
            </div>
          </article>

        </main>
      </div>


    </div>
  </div>
</section>