<section class="category-section character-one">
    <div class="container">
        <div class="row category-container">
            <div class="col-lg-7">
                <div class="about-category">
                    <div class="category-title mb-0">
                        <h2>Logical Thinking</h2>
                    </div>
                    <div class="rating">
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                    </div>
                    <p>Logical thinking skills require and involve a progressive analysis, for example, by weighing all available options, using facts and figures, and making important decisions based on the pros and cons. They do not take into account the elements of feelings and emotions.</p>
                    <button class="category-btn" (click)="showCategory('Logical Reasoning')">Let's Start</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-category-img">
                    <img src="../../../assets/quiz-category/logical-thinking.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row category-container">
            <div class="col-lg-7">
                <div class="about-category">
                    <div class="category-title mb-0">
                        <h2>General Knowledge</h2>
                    </div>
                    <div class="rating">
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                    </div>
                    <p>General knowledge is information that has been accumulated over time through various mediums. It excludes specialized learning that can only be obtained with extensive training and information confined to a single medium. General knowledge is an essential component of crystallized intelligence. It is strongly associated with general intelligence and with openness to experience.</p>
                    <button class="category-btn" (click)="showCategory('General Knowledge')" >Let's Start</button>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-category-img">
                    <img src="../../../assets/quiz-category/general-know.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row category-container">
            <div class="col-lg-7">
                <div class="about-category">
                    <div class="category-title mb-0">
                    <h2>Brain Teaser</h2>
                    </div>
                    <div class="rating">
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                        <em class="fa fa-star"></em>
                    </div>
                    <p>A brain teaser is a form of puzzle that requires thought to solve. It often requires thinking in unconventional ways with given constraints in mind; sometimes it also involves lateral thinking. Logic puzzles and riddles are specific types of brain teasers.
                    One of the earliest known brain teaser enthusiasts was the Greek mathematician Archimedes. He devised mathematical problems for his contemporaries to solve.</p>
                    <button class="category-btn" (click)="showCategory('Brain Teaser')" >Let's Start</button>
                 
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-category-img">
                    <img src="../../../assets/quiz-category/brain-teaser.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>