<section>
    <div id="demo" class="carousel slide" data-interval="9000" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/index/puzzle.jpg" alt="" style="width: 100%;">
                <div class="carousel-caption">
                    <h1>The Best <span>Games</span> Out there</h1>
                    <p>The game is based on previous mods that were created
                        by Brendan "PlayerUnknown" Greene for other games, inspired by the 2000 Japanese film Battle
                        Royale, and expanded into a standalone game under Greene's creative direction. </p>


                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/pubg1.png" alt="" style="width: 100%;">

                <div class="carousel-caption">
                    <h1>The Best <span>Games</span> Out there</h1>
                    <p>The game is based on previous mods that were created
                        by Brendan "PlayerUnknown" Greene for other games, inspired by the 2000 Japanese film Battle
                        Royale, and expanded into a standalone game under Greene's creative direction. </p>

                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/index/booksshelf.jpg" alt="" style="width: 100%;">
                <div class="carousel-caption">
                    <h1>The Best <span>Games</span> Out there</h1>
                    <p>The game is based on previous mods that were created
                        by Brendan "PlayerUnknown" Greene for other games, inspired by the 2000 Japanese film Battle
                        Royale, and expanded into a standalone game under Greene's creative direction. </p>

                </div>
            </div>
        </div>
        <div class="main-text hidden-xs">
            <div class="col-md-12 text-center">

            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>


<!-- About Section Begin -->
<section class="home-about spad">
    <div class="container p-2">

        <div class="row our_vision">
            <div class="col-lg-4 col-md-4">
                <div class="home__about__pic">
                    <div class="home__about__pic__item large-item set-bg">
                        <img class="img1 img-fluid" src="../assets/images/chess.jpeg" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="home__about__text">
                    <div class="section-title">


                        <h3 class="title">Our Vision</h3>

                        <hr>
                    </div>
                    <span class="span1"> Play Hard Play Well</span>
                    <p class="para">What makes Living Facts, well, factual? The facts we share come from publicly
                        available and credible sources, including the Pew Research Center, a subsidiary of The Pew
                        Charitable Trusts that has tracked attitudes and trends for more than 15 years. One key
                        source of information is the center’s American Trends Panel, a nationally representative
                        group of randomly selected U.S. </p>
                    <p class="para-2">adults who have agreed to participate in monthly online
                        surveys. We also crunch numbers from other reputable organizations, such as the U.S. Census
                        Bureau, which conducts regular surveys of Americans and is the federal government’s largest
                        statistical agency.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->